@import './mp.scss';

.dark {
  background-color: rgb(40, 40, 40);
  color           : #fff;
}

* {
  margin : 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body,
#app {
  height: 100%;
}

a,
a:focus,
a:hover {
  cursor         : pointer;
  color          : inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}