@import './mp.scss';

// .dark {
//   background-color: rgb(40, 40, 40);
//   color           : #fff;
// }

* {
  margin : 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body,
#app {
  height: 100%;
}

a,
a:focus,
a:hover {
  cursor         : pointer;
  color          : inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation     : none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 21474836460000;
}

.dark::view-transition-old(root) {
  z-index: 21474836460000;
}

.dark::view-transition-new(root) {
  z-index: 1;
}